﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="gpus"></ul>
Gpu ID:
<input type="text" id="gpuId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:35262/GpuApi/";

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#gpus").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.id) + " " +
                            htmlEncode(item.GpuName) + " " +
                            htmlEncode(item.price) + " $ " +
                            htmlEncode(item.RamSize) + " GB</li>";
                        $("#gpus").append(html);
                    });
                });
        }

        function doAdd() {
            var newGpu = {
                "GpuName": "uj_gpu", "price": "450000", "RamSize": "24"
            };
            $.post(url + "add", newGpu, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }
        function doMod() {
            var newGpu = {
                "Id": $("#gpuId").val(), "GpuName": "legjobb_gpu", "price": "100000", "RamSize": "16"
            };
            $.post(url + "mod", newGpu, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#gpuId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            });
        }
    </script>
}