﻿@model GPU_MVC.Models.MVCGPU
@{
    ViewData["Title"] = "GPUDetails";
}

<h2>Datas of a GPU</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.GpuId)</td>
        <td>@Html.DisplayFor(m => m.GpuId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.GpuName)</td>
        <td>@Html.DisplayFor(m => m.GpuName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RamSize)</td>
        <td>@Html.DisplayFor(m => m.RamSize)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
</table>