﻿@model GPU_MVC.Models.MVCGPU

<h2>Edit Gpu</h2>

@using (Html.BeginForm("Edit", "GPU"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.GpuId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">
        @Html.LabelFor(m => m.GpuName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.GpuName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.RamSize)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.RamSize)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Price)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Price)
    </div>

    <input type="submit" value="SEND" />
}