﻿@model GPU_MVC.Models.GpuListViewModel

@{
    ViewData["Title"] = "GPU Index";
}

<h2> Gpu Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("GPUEdit", Model.EditedGpu)

@await Html.PartialAsync("GPUList", Model.GpuList)