﻿@model IEnumerable<GPU_MVC.Models.MVCGPU>

<h2>
    Gpu List
</h2>

@if (Model.Count() == 0)
 {
                <p>Nincs megjeleníthető adat!</p>
 }
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().GpuName)</th>
            <th> Datasheet </th>
            <th> Delete </th>
            <th> Modify </th>
        </tr>
        @foreach (var gpu in Model)
         { 
            <tr>
                <td>@Html.DisplayFor(y => gpu.GpuName)</td>
                <td>@Html.ActionLink("[Show Gpu]", "Details", new { id = gpu.GpuId })</td>
                <td>@Html.ActionLink("[Delete Gpu]", "Remove", new { id = gpu.GpuId })</td>
                <td>@Html.ActionLink("[Modify Gpu]", "Edit", new { id = gpu.GpuId })</td>

            </tr>
	     }
        
    </table>
}
